/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* * * CSS Master Overwrite * * */
html, section, article, label, h1, h2, h3, p, strong, em, a, li, div {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  cursor: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #7b7b7b;
}

/* * * General Website Construction * * */
#web-title {
  display: block;
  width: 35%;
  margin: auto;
  height: 10%;
}

#map{
  position: relative;
  height: 100%;
  width: 49%;
  top: 0;
  bottom: 40;
  right: 0;
}

.space-between {
  width: 0.5%;
}

.top {
  height: 20%;
}

/* * * Residency Index and Index Items * * */
.residency-index {
  height: 500px;
  display: flex;
  height: 75%;
  width: 100%;
  position: absolute;
}
.residency-item-container {
  /*margin-top: 40px;*/
  padding: 0;
  width: 49%;
  overflow: auto;
  /*margin-bottom: 40px;*/
}

.res-container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: solid #7b7b7b 0.5px;
}

.res-title {
  font-weight: 600;
}

.res-photo {
  margin-left: 15px;
  margin-right: 15px;
  width: 128px;
  height: 128px;
}


/* * * Marker Info-Box Styling * * */
#info-window-large {
  max-width: 1000px;

}

#info-window {
  /*display: flex;*/
}

.res-section img {
  flex: left;
}

.left-res-info {
  flex: left;
  max-width: 50%;
  word-wrap: break-word;
}

.right-res-info {
  flex: right;
  max-width: 50%;
  word-wrap: break-word;
}
.info-res-title {
  padding-top: 15px;
  font-weight: 500;
  font-size: 20px;
  flex: right;
}

.info-res-url {
  color: #b4c1be;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-res-url:hover {
  transition: 0.5s;
  background-color: #b4c1be;
  color: white;
  cursor: pointer;
}

.info-res-photo {
  flex: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 128px;
  height: 128px;
}
/*.res-info {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
}*/

.res-header-1 {
  font-weight: 500;
  font-size: 15px;
  /*padding-top: 5px;*/
  /*border-bottom: solid #7b7b7b 0.5px;*/
  /*margin-bottom: px;*/
}

#detail-title {
  font-weight: 500;
  font-size: 19px;
  padding-top: 10px;
  width: 128px;
  text-align: right;
  /*border-bottom: solid #7b7b7b 0.5px;*/
  /*margin-bottom: px;*/
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.res-info-left {
  display: flex;
  margin-right: 10px;
}

.left-label {
  font-weight: 500;
  font-size: 13px;
  /*flex: left;*/
  margin-right: 3px;
}

.right-content {
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
  justify-content: center;
  white-space: normal;
  /*flex: right;*/
}

.res-inner-content {
  font-weight: 400;
  font-size: 14px;
  flex: right;
}

.res-section {
  width: 50%;
  padding: 10px;

}
.res-section-header {
  padding-top: 3px;
  padding-bottom: 3px;
}

.res-header {
  margin-top: 5px;
  display: flex;
  border-bottom: solid #7b7b7b 0.5px;
}

.res-info-photo {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 128px;
  height: 128px;
}

.res-details {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/*#description-title {
  font-weight: 500;
  font-size: 19px;
  padding-top: 10px;
  padding-right: 10px;
  width: 1000px;
  text-align: right;
}*/

.desc {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.left {
  flex: left;
  width: 240px;
}

.right {
  width: 240px;
  flex: right;
}

.booking-medium {
  width: 100%;
  word-wrap: break-word;
}

/* * * Search Bar * * */
.search-input input {
  width: 99%;
  height: 5%;
  border: solid #7b7b7b 0.3px;
  padding: 10px;
  font-size: 14px;
  outline: 0;
  background: white;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  margin-top: 25px;
}

.flexbox{
  display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
  display: -ms-flex;
	display: flex;
  flex: 0 1 auto;
  flex-basis: auto;
  width: 100%;
}

.flex-column{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
