/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* * Colors * */
$white: #FFFFFF;


$grayLightest: #edeced;
$grayLighter: #EAEAEA;
$grayLight: #E5E5E5;
$gray: #bdbdbe;

$grayDark: #444444;
$grayDarker: #444444;
$grayDarkest: #171717;



$redLightest: #FF8779;
$redLighter: #FF4B37;
$redLight: #FF3721;
$red: #FF230B;
$redDark: #D11D0A;
$redDarker: #A31708;
$redDarkest: #5D0D04;


$tealLightest: #869093;
$tealLighter: #657376;
$tealLight: #303B3E;
$teal: #4C5B5F;
$tealDark: #354347;
$tealDarker: #1D2C30;

$tealAccentLight: #a7cad1;
$tealAccent: #95B6BC;

/* * Font weights * */
$light: 200;
$normal: 400;
$medium: 600;
$bold: 800;

/* * * Sizes * * */
$additionalFiltersHeight: 50px;
/* * * CSS Master Overwrite * * */
html, body, section, article, label, h1, h2, h3, p, strong, em, a, ul, li, div, button, {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  outline: none;
  cursor: inherit;
}

body {
    background-color: $grayLightest;
}

h3 {
    font-size: 22px;
    font-weight: $medium;
    line-height: 26px;
}

a {
    color: $tealAccent;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: $tealAccentLight;
    }
}

strong {
    font-weight: $medium;
}

select {
  outline: none;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $tealDarker;
}

button {
    height: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: 150ms;

    &:focus, &:hover, &.hover {
        border-color: $grayLight;
    }

    &[disabled] {
        background-color: $grayLight;
        color: $white;
        pointer-events: none;
    }

    &.btn-red {
        color: $white;
        background-color: $red;
        border-color: $red;

        &:focus, &:hover, &.hover {
            border-color: $redLightest;
            background-color: $redLightest;
        }

        &.is-outlined {
            color: $red;
            background-color: transparent;

            &:focus, &:hover, &.hover {
                color: $redLightest;
                border-color: $redLightest;
            }
        }
    }

    &.is-outlined {
        background-color: transparent;
    }

    label {
        font-size: 16px;
        line-height: 20px;
    }
}

/* * * Mixins * * */
@mixin hcenter($position: absolute, $left: 50%) {
    position: $position;
    left: $left;
    transform: translateX(-50%);
}

@mixin vcenter($position: absolute, $top: 50%) {
    position: $position;
    top: $top;
    transform: translateY(-50%);
}

@mixin hvcenter($position: absolute, $top: 50%, $left: 50%) {
    position: $position;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin text-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* * * General Website Construction * * */
.global-header {
    position: relative;
    height: 50px;
    color: $white;
    background-color: $tealDarker;

    .header-content {
        margin-left: 10px;
        @include vcenter();
    }

    #web-title {
      display: inline-block;
      width: 90px;
      margin: auto;
    }

    label {
        display: inline-block;
        margin-left: 5px;
        font-size: 15px;
    }
}

.global-content {
    padding: 15px 200px 20px;
}

/* * * Search Bar & Filters * * */
.search-input {
    height: 50px;
    margin: 0 5px;

    input {
        display: block;
        height: 35px;
        width: 100%;
        padding: 10px;
        border: solid $gray 0.3px;
        font-size: 14px;
        outline: 0;
        @include vcenter($position: relative);
    }
}

.additional-filters-container {
    position: relative;
    display: flex;
    height: 50px;
    z-index: 1;
}

.additional-filter {
  flex: 1 1 100%;
  padding: 5px;
  @include vcenter($position: relative);

  select {
    display: block;
    width: 100%;
  }
}

/* * * Residency Index and Index Items * * */
.residency-index {
    display: flex;
    height: calc(100vh - 185px); // Accounts for global content padding
}

/* * * Residency List * * */

.residency-item-list-container {
    width: 50%;
}

.residency-items-list {
    display: block;
    padding: 0 10px;
}

.residency-item {
    margin-bottom: 10px;
    margin-right: 5px;
    overflow: hidden;
    border: 1px solid $white;
    box-shadow: 0 2px 2px 2px $grayLight;
    background-color: transparentize($white, .05);

    &:first-child {
        margin-top: 2px; // Accommodate for scroll-bar starting a bit lower.
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.residency-item-header {
    position: relative;
    padding: 20px 20px 5px;

    .header-title {
        max-width: calc(100% - 120px);
    }

    button {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

.residency-item-nav {
    position: relative;
    display: flex;
    height: 20px;
    padding: 5px 20px;
    // background-color: $grayLightest;

    .nav-title {
        position: relative;
        display: block;
        padding-right: 10px;
        cursor: pointer;
        transition: color 150ms;
        @include vcenter($position: relative);

        &.is-active {
            color: $tealAccent;
            font-weight: $medium;
        }

        &:hover {
            color: $tealAccentLight;
        }
    }

    .nav-track {
        height: 2px;
        width: calc(100% - 40px);
        top: 100%;
        left: 0;
        background-color: $grayLightest;
        @include hcenter();
    }

    .nav-track-highlight {
        position: relative;
        height: 2px;
        background-color: $tealAccent;
    }
}

.residency-item-content {
    position: relative;
    display: flex;
}

.residency-item-content-slide {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

[class|=content-slide] {
    padding: 20px;
}

[class|=slide-info] {
    margin-bottom: 5px;

    label {
        display: block;
        white-space: pre-wrap;
    }
}

.slide-info-url {

    label {
        @include text-ellipsis();
    }
}

/* * * Map * * */
.map-container {
    width: 50%;
    margin-left: 10px;
}

.map-info-window {
    min-width: 300px;
}

.map-info-content {
    text-align: center;
    @include text-ellipsis();
}

/* * * Residency Form * * */
.residency-form-container {
    width: 80%;
    @include hcenter($position: relative);
}

.residency-input-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    label,
    input {
        display: block;
        flex: 1 1 100%;
    }
}
